.navigation {
  max-width: 1120px;
  margin: auto;
  display: flex;
  justify-content: flex-end;
}
.navigation button {
  width: 26px;
  height: 26px;
  border-radius: 2px;
  background: #ffffff;
  margin-left: 8px;
  cursor: pointer;
}
