header {
  background-color: #3688d3;
  color: #ffffff;
  height: 146px;
}
header h1 {
  font-weight: 100;
}
.header-content {
  max-width: 1120px;
  height: 146px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.header-content form {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #ffffff;
  border-radius: 4px;
  color: #363f5f;
}
.header-content input {
  width: 96%;
  height: 56px;
  padding: 10px;
  font-size: 16px;
}
.header-content svg {
  color: #363f5f;
  margin-left: 16px;
}
