* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  outline: none;
}

body {
  background-color: #f0f2f5;
}
body,
input {
  font-family: "Poppins", sans-serif;
}
.loading {
  max-width: 1120px;
  margin: auto;
  text-align: center;
}
